Flask==0.10.1
Flask-Admin==1.4.0
Flask-Markdown==0.3
Flask-SQLAlchemy==2.1
pymysql
Flask-WTF==0.12
Flask-Gravatar==0.4.2
Flask-Paginate
Flask-Testing
Flask-Login
blinker
Flask-Assets
google-api-python-client==1.5.0
git+git://github.com/acm-ucr/xhtml2pdf.git#egg=xhtml2pdf
wepay
git+git://github.com/acm-ucr/python-signpad2image.git#egg=python-signpad2image
nose
